@using Microsoft.AspNetCore.Components.Routing

<div id="da-sidebar-outlet" class="h-full">
    <Sidebar class="h-full">

        <SidebarItem
            Href="/"
            Icon="@(new HomeIcon())">
            Dashboard
        </SidebarItem>

        <SidebarCollapse
            Label="Layouts"
            Icon="@(new InsertTableIcon())">
            <SidebarItem Href="/layouts/stacked">
                Stacked
            </SidebarItem>
            <SidebarItem Href="/layouts/sidebar">
                Sidebar
            </SidebarItem>
        </SidebarCollapse>

        <SidebarCollapse
            Label="CRUD"
            Icon="@(new ListIcon())">
            <SidebarItem Href="/crud/products">
                Products
            </SidebarItem>
            <SidebarItem Href="/crud/users">
                Users
            </SidebarItem>
        </SidebarCollapse>

        <SidebarItem
            Href="/settings"
            Icon="@(new CogIcon())">
            Settings
        </SidebarItem>

        <SidebarCollapse
            Label="Pages"
            Icon="@(new FileIcon())">
            <SidebarItem Href="/pages/pricing">
                Pricing
            </SidebarItem>
            <SidebarItem Href="/errors/400">
                Maintenance
            </SidebarItem>
            <SidebarItem Href="/errors/404">
                404 not found
            </SidebarItem>
            <SidebarItem Href="/errors/500">
                500 server error
            </SidebarItem>
        </SidebarCollapse>

        <SidebarCollapse
            Label="Authentication"
            Icon="@(new UserIcon())">
            <SidebarItem Href="/authentication/sign-in">
                Sign in
            </SidebarItem>
            <SidebarItem Href="/authentication/sign-up">
                Sign up
            </SidebarItem>
            <SidebarItem Href="/authentication/forgot-password">
                Forgot password
            </SidebarItem>
            <SidebarItem Href="/authentication/reset-password">
                Reset password
            </SidebarItem>
            <SidebarItem Href="/authentication/profile-lock">
                Profile lock
            </SidebarItem>
        </SidebarCollapse>

        <SidebarCollapse
            Label="Playground"
            Icon="@(new StarIcon())">
            <SidebarItem Href="/playground/stacked">
                Stacked
            </SidebarItem>
            <SidebarItem Href="/playground/sidebar">
                Sidebar
            </SidebarItem>
        </SidebarCollapse>

        @* Development/Demo Links *@
        <SidebarItem
            Href="/counter"
            Icon="@(new PlusIcon())">
            Counter
        </SidebarItem>
        <SidebarItem
            Href="/weather"
            Icon="@(new InfoCircleIcon())">
            Weather
        </SidebarItem>
        <SidebarItem
            Href="/grid"
            Icon="@(new InsertTableIcon())">
            Grid
        </SidebarItem>
        <SidebarItem
            Href="/icons"
            Icon="@(new StarIcon())">
            Icons
        </SidebarItem>
    </Sidebar>
</div>